

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://tumiia.com">
                   Tumia Ltd 
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://tumiia.com">2023</a> 
                       <a target="_blank" rel="noopener noreferrer" href="https://tumiia.com">All Rights Reserved</a>
          </div>
        </div>
    </footer>
